.App {
  max-width: 100vw;
  min-height: 100vh;
  color: rgb(41, 41, 41);
  background-color: rgb(241, 241, 241);
}

/* Login page */

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 241);
  flex-direction: column;
}

form {
  display: flex;
  width: 200px;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  border: solid 1px rgb(179, 175, 175);
  border-radius: 5px;
}

.login-button {
  border: none;
  background-color: rgb(73, 98, 107);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.login-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.input-error {
  text-align: center;
  margin-top: 15px;
  font-size: 0.8rem;
  color: rgb(185, 4, 4);
}

.error-container {
  height: 40px;
}

/* General */

.content {
  display: flex;
  margin: 20px;
  column-gap: 20px;
}

/* Header */

header {
  background-color: rgb(73, 98, 107);
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
}

.header-button {
  background-color: transparent;
  color: white;
  border: none;
  border-right: solid 1px white;
  border-left: solid 1px white;
  padding: 10px;
  height: 50px;
}

.header-button:hover {
  background-color: rgba(0, 0, 0, 0.219);
  cursor: pointer;
}

/* Users */

.users {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 5px;
  border: solid rgb(206, 206, 206) 1px;
  border-bottom: none;
  height: fit-content;
  background-color: white;
}

.single-user {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgb(209, 209, 209) solid 1px;
  height: 50px;
}

.single-user:hover {
  background-color: rgb(248, 248, 248);
}

.user-icons {
  display: flex;
}

.button-component {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  margin: 2.5px;
  padding: 5px;
  font-size: 1.2rem;
}

.button-component:hover {
  cursor: pointer;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

/* Stats */

.stats {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  border: solid rgb(206, 206, 206) 1px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.stats-header {
  margin-bottom: 10px;
  font-weight: bold;
}

/* Recent item */

.recents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.recent-cont {
  border-radius: 5px;
  border: solid rgb(206, 206, 206) 1px;
  border-bottom: none;
  background-color: white;
}

.recent-item {
  display: flex;
  border-bottom: solid 1px rgb(206, 206, 206);
  padding: 15px 20px;
  width: 100%;
  font-size: 14px;
  align-items: center;
  column-gap: 20px;
}

.recent-date {
  font-size: 0.6rem;
  color: rgb(77, 77, 77);
  margin-top: 2px;
  width: 125px;
}

.recent-created-by {
  color: green;
}

.recent-content {
  display: flex;
  align-items: center;
  min-height: 50px;
  border-left: solid 1px rgb(180, 180, 180);
  padding-left: 20px;
}

.tendencies {
  margin-top: 20px;
}

/* Config */

.config {
  border-radius: 5px;
  border: solid rgb(206, 206, 206) 1px;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
}

.config-setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Live Feed */

.live-feed {
  background-color: white;
  margin: 20px;
  padding: 10px;
  border: solid 1px rgb(180, 180, 180);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 25px;
}

.more-info {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-info > button {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: rgb(73, 98, 107);
}
.more-info > button:hover {
  cursor: pointer;
  color: gray;
}
.main-message {
  display: flex;
}

.live-message-user {
  color: rgb(49, 49, 160);
  width: 120px;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  flex-direction: column;
  font-size: 0.9rem;
}

.extra-info {
  font-size: 0.6rem;
  color: gray;
}

.no-activity {
  font-size: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(73, 98, 107);
  padding: 100px;
}

.no-activity > p {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 10px;
}
